body {
  margin: 0;
  background-color: rgb(243,243,243);
  width: fit-content;
}
nav {
  white-space: nowrap;
  margin-left: 45%;
  margin-top: 10px;
  width: 1000px;
  overflow: hidden;
}


ul {

  width:auto;

}

nav li {
  width: auto;
  display: inline-block;
  margin: 7px;
  
}
nav li a {
  text-decoration: none;
  color: black;
}

nav a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 0px;
  text-decoration: none;
  align-items: center;
}


nav li a:hover {
  text-decoration: underline;
  color: red;
  
}
img {
  width: 350px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}


.showcase {
  background: url('../public/images/arts.jpg') center/cover;
  height: 500px;
  padding: 10px;
  margin-left: 0%;
  width: 127%;
  color: white;
  
 }
.topic-showcase {
  background-color: red;
  color: white;
  font-size: 9px;
  text-transform: uppercase;
  padding: 6px;
  border-radius: 20px;
}
.button {
border: none; 
background-color:red;  
color: white;
height: 26px;
}
.button:hover {
 opacity: .9; 
}

@media (min-width:600px) {
.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  gap: -10px;
  background-color: rgb(243,243,243);
  
}}

.block{
  background-color: white;

  width: 370px;
  height: 400px;
  margin-top:10px
}
.art {
  background-color: white;
  margin-left: 70%;
  width: 370px;
  height: 400px;
  margin-top:10px
}
.topic-art {
  background-color: red;
  color: white;
  font-size: 9px;
  text-transform: uppercase;
  padding: 6px;
  border-radius: 20px;
  
}


.politics {
  background-color: white;
  margin-left: 40%;
  width: 370px;
  height: 500px;
  margin-top:10px
}
.topic-politics {
  background-color: green;
  color: white;
  font-size: 9px;
  text-transform: uppercase;
  padding: 6px;
  border-radius: 20px;
}


.sports {
  
  background-color: white;
  margin-left: 10%;
  width: 370px;
  height: 500px;
  margin-top:10px 
}



.topic-sports {
  background-color: orange;
  color: white;
  font-size: 9px;
  text-transform: uppercase;
  padding: 6px;
  border-radius: 20px;
  margin: 10px
}


.science {
  background-color: white;
  margin-left: 70%;
  width: 370px;
  height: 500px;
  margin-top:10px
  
  
}
.topic-science {
  background-color: blueviolet;
  color: white;
  font-size: 9px;
  text-transform: uppercase;
  padding: 6px;
  border-radius: 20px;
}


.tech {
  background-color: white;
  margin-left: 40%;
  width: 370px;
  height: 400px;
  margin-top:10px
}
.topic-tech {
  background-color: purple;
  color: white;
  font-size: 9px;
  text-transform: uppercase;
  padding: 6px;
  border-radius: 20px;
}


.food {
  background-color: white;
  margin-left: 10%;
  width: 370px;
  height: 400px;
  margin-top:10px
}

.topic-food {
  background-color:hotpink;
  color: white;
  font-size: 9px;
  text-transform: uppercase;
  padding: 6px;
  border-radius: 20px;
}

#texts {

  margin: 10px
}

span {

  margin: 10px
}

.logo {
  margin-left: 145px;
  width: 100px;

}

#logo_text {

  
  margin-left: 135px;
  margin-top: 80px;
  
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; }




.column {
  float: left;
  width: 28%;
  padding: 32px;
  height: 350px; 
  color: white;
}


.row:after {
  content: "";
  display: table;
  clear: both;
      
}

.row {
  
  margin-left: auto;
  width: 150%;
}

input {

  height: 20px;
}

.news_sub_text {

  width: 240px;
}

.sub_button {

  color: white;
  width: 100px;
  height: 30px;
  border: 1px;
}

body {
  overflow-x: hidden !important;
}
.container {
  max-width: 100% !important;
  overflow-x: hidden !important;
}


.first_text {

  margin-left: 160px;

}

.contacts {

  color: white;
  text-decoration: none;
  margin-left: -40%;
}

.first_image {

  margin-left: 190px;
}

.footer-links {

  text-decoration: none;
  color: white;
}

.footer-links:hover {

  text-decoration: underline;
  color: red;
}


.load-btn{
  margin: 0 auto;
  display: block;
margin-bottom: 100px;
padding:15px;
}

