:root {
  --primary-color: #ffc107;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --link-color: #007bff;

  --investing-color: #7fff07;
  --arts-color: #286aa7;
  --tech-color: #d40b0b;
  --science-color: #f800c2;
  --food-color: #6607ff;
  --politics-color:#FFBF00;
}

body {
  background-color: var(--light-color);
  font-family: "Poppins", sans-serif;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

article img {
  width: 100%;
}

.articles {
  display: grid;
  grid-template-columns: 1fr;

  grid-gap: 20px;

}

article {
  background-color: white;
  padding: 10px;
}

.investing {
  background-color: var(--investing-color);
}

.arts {
  background-color: var(--arts-color);
}

.tech {
  background-color: var(--tech-color);
}

.science {
  background-color: var(--science-color);
}

.food {
  background-color: var(--food-color);
}

.politics {

  background-color: var(--politics-color);
}

.topic {
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  padding: 6.5px;
  border-radius: 10px;
}

.logo {


  margin-left: 46%;
}

@media (min-width:600px) {
  .articles {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1000px;
    margin-left: 25%;
    
  }
}

.article {

  height: 500px;
}

.btn {
  border: none;
  background-color: var(--dark-color);
  color: white;
  padding: 10px;
}

.btn:hover {
  opacity: .9;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 37.5%;
}

nav li {
  font-weight: bold;
  padding: 20px;
  background-color: #007bff;
  
}

nav a {
  
  color: black;
}

nav a:hover {
  opacity: 0.9;
  color: white;
  
}
.button {
  border: none; 
  background-color:red;  
  color: white;
  height: 26px;
  }
  .button:hover {
   opacity: .9; 
  }
.showcase {

  background: url('../public/images/arts.jpg') center/cover;
  height: 500px;
  padding: 10px;
  margin-left: 0%;
  width: 127%;
  color: white;
}

input {

  height: 20px;
}

.news_sub_text {

  width: 240px;
}

.sub_button {

  color: white;
  width: 100px;
  height: 30px;
  border: 1px;
}

body {
  overflow-x: hidden !important;
}
.container {
  max-width: 100% !important;
  overflow-x: hidden !important;
}


.first_text {

  margin-left: 160px;

}

.contacts {

  color: white;
  text-decoration: none;
  margin-left: -40%;
}

.first_image {

  margin-left: 190px;
}

.footer-links {

  text-decoration: none;
  color: white;
}

.footer-links:hover {

  text-decoration: underline;
  color: red;
}


.load-btn{
  margin: 0 auto;
  display: block;
margin-bottom: 100px;
padding:15px;
}


.column {
  float: left;
  width: 25%;
  padding: 32px;
  height: 350px; 
  color: white;
  
}


.row:after {
  content: "";
  display: table;
  clear: both;
      
}

.row {
  
  margin-left: auto;
  width: 150%;
}

.contacts {

  margin-left: -50%;

}

.contact {
  margin-left: -40%;
  
}

.topic-showcase {
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  padding: 6.5px;
  border-radius: 10px;

  background-color: var(--arts-color);
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #3C4788;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
    color: #183af5;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

button {
  color: black;
  background-color: salmon;
  border: transparent;
  border-radius: 15px;
  size: 50cm;
  display: block;
  width: auto;
  border: none;
  margin-left: auto;
  margin-right: auto;
  padding-top:100px;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  font-size: 25px;
  border: none;
  font-weight: bold;

  
}
